.Search {
	width: 300px;

	&__ {
		&form {
			display: flex;
			flex-direction: column;
		}

		&label {
			display: block;
			margin-bottom: 5px;
		}

		&input, &submit {
			padding: 7px 10px;
			border: none;
		}

		&input {
			border-radius: 5px 5px 0 0;
		}

		&submit {
			appearance: none;
			border-radius: 0 0 5px 5px;
		}

		&hint {
			margin-top:-20px;
			margin-bottom: 20px;
		}
	}
}