.Details {
	text-align: left;

	max-width: 100%;

	summary {
		user-select: none;
	}

	&__ {
		&name {
			margin-top: 5px;
			font-weight: lighter;
			font-size: 3rem;
			margin-bottom: 5px;
		}

		&members {
			display: block;
			margin-top: 15px;
		}

		&loading {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
		}
	}
}
