.Details {
	text-align: left;

	max-width: 100%;

	summary {
		user-select: none;
	}

	select {
		display: block;
		padding: 8px 5px;
		appearance: auto;


		&:first-child {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
			border-radius: 5px 0 0 5px;

			@media (max-width: 750px) {
				border-radius: 5px 5px 0 0;
			}
		}

		&:last-child {
			grid-column: 2 / span 1;
			grid-row: 1 / span 1;
			border-radius: 0 5px 5px 0;


			@media (max-width: 750px) {
				grid-column: 1 / span 1;
				grid-row: 2 / span 1;
				border-radius: 0 0 5px 5px;
			}
		}
	}

	&__ {
		&name {
			margin-top: 5px;
			font-weight: lighter;
			font-size: 3rem;
			margin-bottom: 5px;
		}

		&members {
			display: block;
			margin-top: 15px;
		}

		&loading {
			display: flex;
			flex-direction: column;
			margin-top: 30px;
		}
	}
}
