.Search {
	width: 100%;

	&__ {
		&form {
			display: flex;
			flex-direction: column;
		}

		&label {
			text-align: center;
			display: block;
		}

		&input, &submit {
			padding: 12px 15px;
			border: none;
		}

		&submit {
			appearance: none;
		}

		&hint {
			margin-top:-20px;
			margin-bottom: 20px;
		}
	}
}
